<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Food Diary"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VOYproject"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.VOYproject.MySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StartScreen.StartScreen">

        </activity>

        <activity android:name=".MainMenu.MainMenu">

        </activity>

        <activity
            android:name=".AddFood.MainActivityFood">

        </activity>

        <activity
            android:name=".AddFood.FoodDetailed">

        </activity>

        <activity
            android:name=".AddFood.NewFood">

        </activity>

        <activity
            android:name=".AddFood.ListDay">

        </activity>


    </application>

</manifest>